[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "==0.10.1"
fastai = "==2.4"
pillow = "*"
requests = "*"
scikit-image = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
flask = "*"
tensorflow-addons = "*"
tensorflow = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.8"
